.about-container {
	position: sticky;
	margin-left: 25px;
	margin-top: 120px;
	width: 270px;
	height: 310px;
	position: -webkit-sticky;
	border: 1px solid rgba(126, 126, 126, 0.4);
	border-radius: 4px;
	background-color: #1a1a1b;
	font-size: 15px;
	overflow: auto;
}

.about-container h3, p {
	margin-left: 10px;
}

.cake-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	margin-left: 10px;

}



.cake-container img{
	height: 25px;
	width: 25px;
}

.git-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.git-button {
	background-image: url('../images/github.png');
	background-position: center;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	border: none;
	width: 30px;
	height: 30px;
}
