nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1a1a1b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(126, 126, 126, 0.2);
    z-index: 300;
    overflow: hidden;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-left: 20px;
    font-family: logoFont;
    font-size: 20px;
    color: rgba(229, 226, 226, 0.9)
}

.logo-container p {
    margin-left: 6px;
}

.logo-button {
    width: 32px;
    height: 32px;
    border: none;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.nav-form {
    position: relative;
    width: 25%;
    height: 36px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #272729;
    border: 1px solid rgba(126, 126, 126, 0.2);
}

.nav-form:hover {
    border: 1px solid #fff;
    background-color: #1a1a1b;
}

.nav-form img {
  position: absolute;
  left: 16px;
}

.nav-search {
    padding-left: 50px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgba(229, 226, 226, 0.9);
    outline: none;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 330px;
}

.nav-log-in {
    font-family: verdana-bold;
    height: 32px;
    width: 130px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background-color: #1a1a1b;
    cursor: pointer;
    margin-right: 10px;
}

.nav-log-in:hover {
    background-color: rgb(44, 44, 44);
}

.nav-sign-up {
    font-family: verdana-bold;
    height: 32px;
    width: 130px;
    border-radius: 20px;
    background-color: #d7dadc;
    border: none;
    cursor: pointer;
}

.nav-sign-up:hover {
    background-color: rgb(182, 182, 182);
}

.nav-user-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
}

.nav-user-icon {
    width: 28px;
    height: 28px;
    border: none;
    background-image: url('../images/user.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-container { 
    position: fixed;
    width: 130px;
    height: auto;
    top: 67px;
    right: 0px;
    z-index: 500;
    background-color: #1a1a1b;
    border: 1px solid rgba(126, 126, 126, 0.2);
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-button {
    width: 100%;
    padding: 25px;
    background-color: transparent;
    border: none;
    color: #75797c;
    font-weight: bold;
}

.dropdown-button:hover {
	background-color:rgba(126, 126, 126, 0.2);
}
