.post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 724px;
    height: auto;
    min-height: 170px;
    border: 1px solid rgba(126, 126, 126, 0.4);
    border-radius: 4px;
    background-color: #1a1a1b;
    margin-bottom: 20px;
    cursor: pointer;
}

.post-container:hover {
    border: 1px solid rgb(170, 170, 170);
}

.arrow-buttons-div-container {
    position: absolute;
    background-color: #151516;
    border-radius: 5px;
    height: 100%;
    width: 40px;
    left: 0;
    top: 0;
}

.arrow-buttons-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 67px;
    margin-top: 7px;
    margin-left: 6px;
    font-size: 13px;
}

.arrow-button {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow-button-up {
    background-image: url('../images/up.png');
}

.arrow-button-up:hover {
    background-image: url('../images/up-activated.png');
    background-color:rgba(126, 126, 126, 0.2);
}

.arrow-button-up-active { 
    background-image: url('../images/up-activated.png');
    background-color:rgba(126, 126, 126, 0.2);
}

.arrow-button-down {
    background-image: url('../images/down.png');
}

.arrow-button-down-active { 
    background-image: url('../images/down-activated.png');
    background-color:rgba(126, 126, 126, 0.2);
}

.arrow-button-down:hover {
    background-image: url('../images/down-activated.png');
    background-color:rgba(126, 126, 126, 0.2);
}

.post-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-left: 42px;
    height: 33px;
    font-size: 12px;
    color: #75797c;
}

.post-middle-container {
    margin-left: 52px;
    font-size: 13px;
    max-width: 90%;
    min-height: 80px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-img-container {
    height: 90%;
}

.post-img-container img {
    width: 100%;
    height: 100%;
}

.post-middle-container h3 {
    margin-top: -2px;
    font-size: 18px;
}

.post-middle-container p {
    margin-top: -5px;
    margin-left: 2px;
    margin-bottom: 40px;
}

.anchor-tag-container { 
    display: flex;
    flex-direction: row;
    color: #3d9ae2;
    align-items: center;
}

.anchor-tag-container a {
    color: #3d9ae2;
    text-decoration: none;
}

.anchor-tag-container img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.link-image {
    position: absolute;
    right: 0;
    width: 150px;
    height: 100px;
    border: 0.3px solid #3d9ae2;
    border-radius: 5px;
    bottom: 45px;
    margin-right: 20px;
}

.link-image img:nth-of-type(1) {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.link-image img:nth-of-type(2) {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    bottom:0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.post-footer-container {
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.post-footer-container img {
    width: 25px;
    height: 25px;
}

.bottom-icons-div {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    margin-left: 5px;
    padding: 5px;
    color: #75797c;
}

.bottom-icons-div:nth-of-type(2) img {
    width: 23px;
    height: 23px;
}

.bottom-icons-div:nth-of-type(3) img {
    width: 23px;
    height: 23px;
}

.bottom-icons-div:hover {
    background-color:rgba(126, 126, 126, 0.2);
}

.bottom-icons-div:nth-of-type(1) {
    margin-left: -170px;
}
